body{
    color: rgb(12, 178, 95);
}
.style1{
    text-align: center;
    color: rgb(6, 63, 2);
    font-style:oblique;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    text-align: center;
    font-size: 40px;

}
h2{
    font-size: 30px;
    font-style: italic;
    text-align: center;
}
img{
    width:400px;
    height:200px;
}